.accordion-button {
    color: #0089F3 !important;
    font-weight: 600;
    letter-spacing: .5px;
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #0089F3;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    color: white !important;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(103%) contrast(104%);
}

.accordion-button::after {
    filter: invert(35%) sepia(80%) saturate(2288%) hue-rotate(185deg) brightness(98%) contrast(104%);
}

/** 
  * (min-width: 981px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 981px) {
    .container-nosotros {
        width: 95%;
        margin: auto;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        /* row-gap: 20px; */
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: left;
    }

    .nosotros-tittle-section h3 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5em;
        color: #262626;
    }

    .nosotros-tittle-section h3 span {
        color: #0089F3;
    }

    .nosotros-tittle-section p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
        color: #262626;
    }

    .child-container-nosotros {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .container-dropdow {
        width: 60% !important;
    }

    .container-dropdow h3 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .container-dropdow p {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .img-preg-frecuentes {
        width: 40%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img-preg-frecuentes img {
        width: 90%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info-nosotros {
        width: 32%;
        height: 100%;
        padding: 40px 30px;
        text-align: left;
        border: 1px solid #FFFF00;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .accordion-body {
        font-size: 1em !important;
        line-height: 1.3em;
    }
}

/** 
  * (min-width: 1336px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1336px) {
    .container-nosotros {
        width: 95%;
        margin: auto;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 80px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        /* row-gap: 20px; */
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: left;
    }

    .nosotros-tittle-section h3 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5em;
        color: #262626;
    }

    .nosotros-tittle-section h3 span {
        color: #0089F3;
    }

    .nosotros-tittle-section p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
        color: #262626;
    }

    .child-container-nosotros {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .container-dropdow {
        width: 60% !important;
    }

    .container-dropdow h3 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .container-dropdow p {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .img-preg-frecuentes {
        width: 40%;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img-preg-frecuentes img {
        width: 90%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info-nosotros {
        width: 32%;
        height: 100%;
        padding: 40px 30px;
        text-align: left;
        border: 1px solid #FFFF00;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .accordion-body {
        font-size: 1em !important;
        line-height: 1.3em;
    }
}

/** 
  * (min-width: 1636px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1636px) {
    .container-nosotros {
        width: 95%;
        margin: auto;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 80px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        /* row-gap: 20px; */
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: left;
    }

    .nosotros-tittle-section h3 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5em;
        color: #262626;
    }

    .nosotros-tittle-section h3 span {
        color: #0089F3;
    }

    .nosotros-tittle-section p {
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.2em;
        color: #262626;
    }

    .child-container-nosotros {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .container-dropdow {
        width: 60% !important;
    }

    .container-dropdow h3 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .container-dropdow p {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .img-preg-frecuentes {
        width: 40%;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img-preg-frecuentes img {
        width: 90%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info-nosotros {
        width: 32%;
        height: 100%;
        padding: 40px 30px;
        text-align: left;
        border: 1px solid #FFFF00;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .accordion-button {
        font-size: 0.6em !important;
    }

    .accordion-body {
        font-size: 1.2em !important;
        line-height: 1.3em;
    }
}

/** 
  * (max-width: 980px)
  *  
  * -------------------------------------------------------------------
  */
@media (max-width: 980px) {

    .container-nosotros {
        width: 100%;
        margin: auto;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 80px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        /* row-gap: 20px; */
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: left;
    }

    .nosotros-tittle-section h3 {
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.2em;
        color: #262626;
    }

    .nosotros-tittle-section h3 span {
        color: #0089F3;
    }

    .nosotros-tittle-section p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
        color: #262626;
    }

    .child-container-nosotros {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .nextui-collapse--closed {
        border-bottom: 1px solid #0089F3 !important;
    }

    .nextui-collapse--open {
        border-bottom: 1px solid #0089F3 !important;
    }

    .nextui-c-fUXRSc path {
        stroke: #0089F3 !important;
    }

    .container-dropdow {
        width: 85% !important;
        padding: 0px !important;
    }

    .container-dropdow h3 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .container-dropdow p {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .img-preg-frecuentes {
        width: 40%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img-preg-frecuentes img {
        width: 95%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info-nosotros {
        width: 32%;
        height: 100%;
        padding: 40px 30px;
        text-align: left;
        border: 1px solid #FFFF00;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .accordion-body {
        font-size: 0.9em !important;
        line-height: 1.2em;
    }

}


/** 
  * (max-width: 768px)
  *  
  * -------------------------------------------------------------------
  */
@media (max-width: 768px) {

    .container-nosotros {
        width: 100%;
        margin: auto;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 60px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        /* row-gap: 20px; */
    }

    .nosotros-tittle-section {
        width: 75%;
        text-align: center;
    }

    .nosotros-tittle-section h3 {
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.2em;
        color: #262626;
    }

    .nosotros-tittle-section h3 span {
        color: #0089F3;
    }

    .nosotros-tittle-section p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
        color: #262626;
    }

    .child-container-nosotros {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .nextui-collapse--closed {
        border-bottom: 1px solid #0089F3 !important;
    }

    .nextui-collapse--open {
        border-bottom: 1px solid #0089F3 !important;
    }

    .nextui-c-fUXRSc path {
        stroke: #0089F3 !important;
    }

    .container-dropdow {
        width: 85% !important;
        padding: 0px !important;
    }

    .container-dropdow h3 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .container-dropdow p {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .img-preg-frecuentes {
        width: 85%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img-preg-frecuentes img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info-nosotros {
        width: 32%;
        height: 100%;
        padding: 40px 30px;
        text-align: left;
        border: 1px solid #FFFF00;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nextui-collapse-icon {
        width: 26px !important;
        height: 26px !important;
    }

}

/** 
  * (max-width: 512px)
  *  
  * -------------------------------------------------------------------
  */
@media (max-width: 512px) {

    .container-nosotros {
        padding: 40px 0px;
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: center;
    }

    .nosotros-tittle-section h3 {
        margin: 0px 25px;
        font-size: 1.3em;
        font-weight: 700;
        line-height: 1.3em;
        color: #262626;
    }

    .nosotros-tittle-section p {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2em;
    }

    .child-container-nosotros {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
    }

    .container-dropdow h3 {
        font-size: 1em;
    }

    .img-preg-frecuentes {
        width: 100%;
        padding: 20px 0px;
        align-items: center;
    }

    .img-preg-frecuentes img {
        width: 85%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .accordion-body {
        font-size: 0.9em !important;
        line-height: 1.2em;
    }
}

/** 
  * (max-width: 380px)
  *  
  * -------------------------------------------------------------------
  */
@media (max-width: 380px) {

    .container-nosotros {
        padding: 30px 0px;
    }

    .nosotros-tittle-section {
        width: 85%;
        text-align: center;
    }

    .nosotros-tittle-section h3 {
        margin: 0px 5px;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.3em;
        color: #262626;
    }

    .nosotros-tittle-section p {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2em;
    }

    .child-container-nosotros {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
    }

    .container-dropdow h3 {
        font-size: 1em;
    }

    .img-preg-frecuentes {
        width: 100%;
        padding: 20px 0px;
        align-items: center;
    }

    .img-preg-frecuentes img {
        width: 85%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .accordion-body {
        font-size: 0.9em !important;
        line-height: 1.2em;
    }
}